* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	font-size: 16px;
	font-family: sans-serif;
}

header {
	width: 100%;
	height: 76px;
	background-color: #76adff;

	display: flex;
	justify-content: center;
	align-items: center;
}
header h1 {
	font-size: 2em;
	color: white;
	text-align: center;
}

.wrap {
	display: flex;
	width: 100%;
	flex-direction: column;
	height: calc(100% - 76px);
	align-items: center;
	justify-content: center;
}

.userInputs {
	margin: 0 auto;

	height: auto;
	background-color: hsl(216, 100%, 85%);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px;
	margin-bottom: 32px;
}
.userInputs .input {
	width: 361px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.userInputs input {
	height: 36px;
	text-align: center;
	background-color: hsl(216, 100%, 100%);
}
.userInputs input:focus {
	background-color: hsl(216, 100%, 90%);
	border: 1px solid #76adff;
	outline: none;
}
.userInputs button {
	width: 100%;
	height: 64px;
	font-size: 1.2em;
	color: white;
	background-color: #76adff;
	cursor: pointer;
}
.userInputs button:hover {
	background-color: rgb(66, 142, 255);
}
.userInputs input,
button {
	border: none;
}

.resposta {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.resposta h2 {
	width: 350px;
	color: #003d99;
}

footer {
	position: absolute;
	bottom: 16px;
	left: 0;
	right: 0;
	text-align: center;
	color: #003d99;
}
